@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    background: linear-gradient(to top right, #000000 40%, #8e0e0e 70%, #e01e1e 90%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     font-family: 'Seoge UI', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 0;
}

.container {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    margin: auto;
    
}

.signup-form-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin:5vh auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid hwb(0 18% 68%);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    width: 40px;
    height: 40px;
    filter: invert(1);
    text-decoration: none;
    color: #1f1f1f;
}

form span {
    font-size: 12px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}



button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 14px 55px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    gap: 4px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    /* margin-top: 12px; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(58, 61, 91, 0.4);
    /* position: relative; */
    overflow: hidden;
}



button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 8px rgba(58, 61, 91, 0.4);
}


.login-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ccc;
    margin: 2rem 0 1rem;
    font-size: 14px;
}

.login-divider span {
    font-size: 0.85rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 10px;
    color: #eee;
    position: relative;
    z-index: 2;
}

.login-divider::before,
.login-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 15px;
}



.signin-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff;
}

.signin-link a {
    color: #a766df;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}


/* Responsive Adjustments */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        width: 95%;
    }

    .signup-form-container {
        padding: 25px;
    }

    input,
    button,
    select {
        padding: 10px 12px;
    }
}

@media (max-width: 400px) {
    body {
        padding: 10px;
    }

    .signup-form-container {
        padding: 20px;
    }

    form {
        gap: 12px;
    }

    h1 {
        font-size: 24px !important;
    }
}